<h1>User Profile for <%= @user.email %></h1>


<p>User: <%= @user.email %></p>
<p>Role: <%= @user.role %></p>


<% if can? :manage, User %>

	<div class="well" >

	<%= form_tag edit_user_path do %>
			<%= select_tag(:role, options_for_select([ "admin", "employee", "guest" ]), :prompt => "Please select") %>
			  <%= hidden_field_tag :id, @user.id %>
			  <%= submit_tag "Update Role", class: "btn btn-primary" %>
	<% end %>

		<%= link_to "Delete User", delete_user_path(id: @user.id), class: 'btn btn-danger' %>
	</div>


<% end %>