<p id="notice"><%= notice %></p>

<div class="container ">
  <center><p>
    
    <%= image_tag @product.image.url, class: 'show-pic' %>
  </p>

  <p class="show-title">
    
    <%= @product.name %>
  </p></center>
    <div class="show-well center-it">
      <p class="price-text">
       Only <%= number_to_currency @product.price %>!
      </p>

      
      <div class="desc-text">
        <p>

          <%= @product.description %>
      </p>
    </div>

    <div class="break"></div>
      
      <p class="brand-text">
          Made By <%= @product.brand %>  • Currently <%= @product.quantity %> in stock  •  In <%= @product.category.name %> 
      </p>
  </div>
</div>
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
